.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  background-color: rgba(141, 144, 141, 0.637);
  border-radius: 1rem;
  min-width: 300px;
  min-height: 200px;
  margin: 3rem;
  margin-left: 5rem;
  padding: 2rem;
  cursor: pointer;
}

.card:hover {
  border: 1px solid white;
}

.card h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.card-img {
  width: 100px;
}

.card-temp {
  font-size: 5rem;
}

.card-temp-smaller {
  font-size: 1.5rem;
}

.card-day {
  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .card {
    margin: 1rem;
  }
  #country-timezone {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
}

@media (max-width: 400px) {
  .card {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    width: 100%;
    min-width: none;
    border-left: none;
    border-right: none;
  }
  .card:hover {
    border-left: none;
    border-right: none;
  }
}

@media (max-width: 370px) {
  .card {
    min-width: 100%;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
