@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

input {
  border: none;
}

input:focus {
  border: none;
}

body {
  background: URL(https://res.cloudinary.com/jorgeleandroolaizola/image/upload/v1632502693/Pngtree_blue_sky_and_white_clouds_1055722_nztobf.jpg);
  background-color: rgb(0, 0, 0);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.city-title {
  align-self: center;
  text-align: center;
}

.row {
  display: flex;
}

.row-around {
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
}

.relative {
  position: relative;
}

.margin-top-1 {
  margin-top: 1rem;
}

.btn {
  padding: 0.35rem;
  color: white;
  border: 0.5px solid grey;
  background-color: rgba(81, 81, 246, 0.63);
}

.btn:hover {
  border: 0.5px solid white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 70px;
  margin: 10px;
}

.padding-margin-0 {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.text-shadow {
  text-shadow: 2px 2px 10px #ffffff;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(14, 14, 14, 0.342);
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(28, 67, 241);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(28, 67, 241, 0.644);
}
