.navbar {
  background-color: rgba(0, 0, 0, 0.513);
  color: white;
  height: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5rem;
  position: relative;
}

.searchbar {
  width: 210px;
  height: 1rem;
  padding: 0.3rem;
}

.search-container {
  display: none;
  position: absolute;
  top: 1.8rem;
  left: 0px;
  background-color: white;
  width: calc(210px + 0.2rem);
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0rem 0.3rem 0.3rem 0.3rem;
}

.search-container-item {
  width: 90%;
  border-top: 1px solid grey;
  height: fit-content;
  padding-top: 1rem;
  padding-left: 1rem;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container-item:hover {
  background-color: rgba(128, 128, 128, 0.315);
}

.btn-navbar {
  position: absolute;
  top: -2px;
  right: -4rem;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    height: fit-content;
  }
}

@media (max-width: 400px) {
  .navbar {
    width: 100%;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .btn-navbar {
    top: -3rem;
    right: 0px;
  }
}
